@import url(https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Zilla+Slab:wght@300&display=swap);


#BuildAProductLandingPage.body {
    margin: 0;
    padding: 0;
}

#BuildAProductLandingPage #header-img {
    height: 6vw;
    width: 6vw;
    margin-left: 20px;
}

@media (max-width: 460px) {
    #BuildAProductLandingPage #header-img {
        height: 17vw;
        width: 17vw;
    }
}

#BuildAProductLandingPage .logo p {
    font-weight: bold;
    font-size: 2em;
    padding: 0 0 0 1rem;
    margin-top: 1rem;
}

@media (max-width: 460px) {
    #BuildAProductLandingPage .logo p {
        padding: 0 0 0 3rem;
    }
}

#BuildAProductLandingPage #header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3a7da6;
    color: #f9c70d;
    margin-top: 4rem;
}

#BuildAProductLandingPage .logo {
    width: 40vw;
    display: flex;
}

@media (max-width: 460px) {
    #BuildAProductLandingPage .logo {
        width: 100%;
    }
}

#BuildAProductLandingPage #nav {
    width: 60vw;
    padding: 0 1rem 0 0;
}

#BuildAProductLandingPage #nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

#BuildAProductLandingPage #nav ul li {
    list-style: none;
}

#BuildAProductLandingPage .nav-link {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

@media (max-width: 460px) {
    #nav-bar {
        display: none;
    }
}

#BuildAProductLandingPage main {
    padding-top: 12rem;
}

#BuildAProductLandingPage #title {
    font-size: 1.7em;
}

@media (max-width: 460px) {
    #BuildAProductLandingPage #title {
        text-align: center;
    }
}

#BuildAProductLandingPage .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

@media (max-width: 460px) {
    #BuildAProductLandingPage .container {
        flex-direction: column;
        align-items: center;
    }
}

#BuildAProductLandingPage .diaper {
    width: 25rem;
}

@media (max-width: 460px) {
    #BuildAProductLandingPage .diaper {
        width: 18rem;
    }
}

#BuildAProductLandingPage .diaper-img {
    width: 40%;
}

@media (max-width: 460px) {
    #BuildAProductLandingPage .diaper-img {
        width: auto;
        margin: 0 auto;
    }
}

#BuildAProductLandingPage .product-container {
    width: 60%;
}

@media (max-width: 460px) {
    #BuildAProductLandingPage .product-container {
        width: 94%;
    }
}

#BuildAProductLandingPage #product h2 {
    font-size: 1.4em;
}

#BuildAProductLandingPage .container-after {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#BuildAProductLandingPage #product,
#BuildAProductLandingPage #full-description,
#BuildAProductLandingPage #materials-\&-ingredients,
#BuildAProductLandingPage #care-instructions,
#BuildAProductLandingPage #awards,
#BuildAProductLandingPage #easy-to-use,
#BuildAProductLandingPage #pricing {
    padding-top: 2em;
    margin-bottom: -2em;
}

@media (max-width: 460px) {
    #BuildAProductLandingPage #product,
    #BuildAProductLandingPage #full-description,
    #BuildAProductLandingPage #materials-\&-ingredients,
    #BuildAProductLandingPage #care-instructions,
    #BuildAProductLandingPage #awards,
    #BuildAProductLandingPage #easy-to-use,
    #BuildAProductLandingPage #pricing {
        padding-top: 0;
    }
}

#BuildAProductLandingPage .container-flex {
    display: flex;
    padding-top: 4em;
}

#BuildAProductLandingPage .icon {
    display: flex;
    align-items: normal;
    justify-content: center;
    width: 20vw;
    font-size: 6em;
    color: #7bbdcd;
}

@media (max-width: 460px) {
    #BuildAProductLandingPage .icon {
        font-size: 4em;
    }
}

#BuildAProductLandingPage .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
}

#BuildAProductLandingPage .description h2 {
    margin-top: 0;
    font-size: 1.4rem;
    text-align: left;
}

#BuildAProductLandingPage #easy-to-use {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    padding-top: 5em;
  }
  
@media (max-width: 460px) {
    #BuildAProductLandingPage #easy-to-use {
        padding-top: 4em;
    }
}

#BuildAProductLandingPage #easy-to-use > iframe {
    max-width: 560px;
    width: 100%;
  }

#BuildAProductLandingPage .container-pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5em;
}

@media (max-width: 460px) {
    #BuildAProductLandingPage .container-pricing {
        flex-direction: column;
    }
}

#BuildAProductLandingPage .product-pricing {
    width: 25%;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
}

@media (max-width: 460px) {
    #BuildAProductLandingPage .product-pricing {
        width: 60%;
        align-self: center;
    }
}

#BuildAProductLandingPage .product-pricing img {
    width: 100%;
}

@media (max-width: 460px) {
    #BuildAProductLandingPage .product-pricing img {
        width: 60%;
        align-self: center;
    }
}

#BuildAProductLandingPage .product-pricing p {
    text-align: center;
}

#BuildAProductLandingPage .product-pricing h3 {
    text-align: center;
}

#BuildAProductLandingPage .product-pricing .btn {
    margin: 0 auto;
    align-self: center;
    background-color: #7bbdcd;
    border-radius: 10px;
    padding: 9px 31px;
}

#BuildAProductLandingPage #footer {
    width: 100%;
    background-color: #3a7da6;
    margin: 5em 0 0 0;
    padding-bottom: 2em;
}

#BuildAProductLandingPage #form {
    display: flex;
    flex-direction: column;
    width: 24em;
    margin: 0 auto;
}

#BuildAProductLandingPage #footer-img {
    width: 3em;
    margin-top: -2em;
    border: solid 1px;
    border-radius: 33px;
    padding: 6px;
    background-color: #f9c70d;
    align-self: center;
}

#BuildAProductLandingPage .form-label {
    align-self: center;
    color: white;
    margin: 1em 0 0 0;
    font-size: 1.2em;
}

#BuildAProductLandingPage #email {
    background: transparent;
    color: white;
    border-radius: 5px;
    padding: 12px;
    margin: 15px;
}

#BuildAProductLandingPage #submit {
    width: 10em;
    margin: 0 auto;
    padding: 5px;
    background-color: #f9c70d;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}