@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Zilla+Slab:wght@300&display=swap);

#BuildASurveyForm.body {
    margin: 0;
    padding-top: 60px;
    font-size: 12px;
    font-family: 'Zilla Slab', serif;
    color: white;
    overflow-y: auto;
    height: 100%;
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/523/378/original/web-development-application-design-coding-and-programming-on-laptop-and-smartphone-concept-with-programming-language-and-program-code-and-layout-on-screen-vector.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#BuildASurveyForm .container {
    background-color: rgba(255,255,255, 0.5);
    max-width: 100%;
}

#BuildASurveyForm header {
    padding: 1rem 0 0 0;
    box-sizing: border-box;
}

#BuildASurveyForm h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    line-height: 1em;
    margin-bottom: 2rem;
}

#BuildASurveyForm #description {
    font-size: 2em;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}

#BuildASurveyForm #survey-form {
    background-color: rgba(46, 40, 40, 0.7);
    padding: 1rem 0 2rem 0;
    border-radius: .2em;
}

#BuildASurveyForm label {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 1rem;
}

#BuildASurveyForm form {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
    width: 720px;
}

#BuildASurveyForm form input {
    border: 1px solid #fff;
    padding: 0.9em;
    padding-left: 0.9em;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.3em;
    padding-left: 2.5em;
    margin-bottom: 1rem;
}

#BuildASurveyForm form select {
    border: 1px solid #fff;
    padding: 0;
    padding-left: 0.9em;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.3em;
    padding-left: 2.5em;
    margin-bottom: 1rem;
}

#BuildASurveyForm .form-group {
    position: relative;
    margin: 0 2.5rem;
    padding: 0.25rem;
}

#BuildASurveyForm .form-control {
    display: block;
    height: 2.5rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .2em;
}

#BuildASurveyForm .ico-label {
    position: absolute;
    top: 40px;
    left: 15px;
    color: #bebebe;
    font-size: 1.3rem;
}

#BuildASurveyForm .input-radio, #BuildASurveyForm .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

#BuildASurveyForm .checkbox,
#BuildASurveyForm .radio {
    display: flex;
}

#BuildASurveyForm .checkbox .ico-label,
#BuildASurveyForm .radio .ico-label {
    flex-basis: 2rem;
    position: initial;
}

#BuildASurveyForm .checkbox .radio-input,
#BuildASurveyForm .radio .radio-input {
    flex-basis: auto;
}

#BuildASurveyForm .checkbox input,
#BuildASurveyForm .radio input {
    width: 0;
    margin-bottom: 0;
}

#BuildASurveyForm .checkbox label,
#BuildASurveyForm .radio label {
    text-transform: none;
    align-items: normal;
    font-size: 1.3rem;
}

#BuildASurveyForm .input-textarea {
    min-height: 100px;
    width: 97%;
    padding: 0.5rem;
    resize: vertical;
}

#BuildASurveyForm .submit-button {
    background: #b280c0;
    color: #fff;
    margin-top: 1em;
    width: 100%;
    box-sizing: border-box;
    padding: 1em 0;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    max-width: 100%;
    cursor: pointer;
    border: none;
    line-height: 1.05em;
    display: inline-block;
    outline: 0;
    border-radius: .2em;
    transition: all .5s ease;
    position: relative;
}